/.github
/.git
/.husky
/packages/datagateway-*/cypress
/packages/datagateway-*/cypress.json
/packages/datagateway-*/server
/packages/datagateway-*/README.md
**/build
**/dist
**/coverage
**/lib
**/node_modules
.gitignore
.prettierrc
codecov.yml
CODEOWNERS
LICENSE.md
README.md
CHANGELOG*
CONTRIBUTING.md
Dockerfile
**/*.test.*
**/setupTests*
**/testData*
**/public/*settings*.json
!**/public/*settings.example.json