language: node_js
node_js:
  - 'lts/*'
addons:
  apt:
    packages:
      # Ubuntu 16+ does not install this dependency by default, so we need to install it ourselves (for Cypress)
      - libgconf-2-4
cache:
  npm: true
  directories:
    # we also need to cache folder with Cypress binary
    - ~/.cache
install:
  - npm install
script:
  - npm test
